body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f1f2f6;
    text-align: center;
}

header {
    background: #1e90ff;
    padding: 15px;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.home-section, .login-section {
    margin-top: 40px;
}

.primary-btn {
    padding: 12px 25px;
    background: #3742fa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.primary-btn:hover {
    background: #5352ed;
}

.login-box {
    display: inline-block;
    padding: 20px;
    background: white;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

.login-box input {
    display: block;
    width: 250px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #aaa;
}

#loginMsg {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}
.dark{
    background: #1e272e;
    color: white;
}